{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <h1>{{ supermarket.name }} - Subchains</h1>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for subchain in supermarket.subchains %}
          <tr>
            <td>{{ subchain.name }}</td>
            <td>
              <a
                href="{{ url_for('supermarket.edit_subchain', id=supermarket.id, subchain_id=subchain.id) }}"
                class="btn btn-sm btn-primary"
                >Edit</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a
        href="{{ url_for('supermarket.create_subchain', id=supermarket.id) }}"
        class="btn btn-success"
        >Add Subchain</a
      >
      <a href="{{ url_for('supermarket.index') }}" class="btn btn-secondary"
        >Back to Supermarkets</a
      >
    </div>
  </div>
</div>
{% endblock %}
