# Ignore common virtual environment directories
venv/
env/
logs_two/Lib/
logs_two/bin/
logs_two/Include/
logs_two/Scripts/


# Other common entries
*.pyc
__pycache__/
*.log
.DS_Store
env/
venv/
logs.txt