{% extends "base.html" %}

{% block content %}
<header class="text-center my-4">
    <h1>Welcome to the Borgotsoi Logistics System!</h1>
    <p>Mongolian language will be available soon.</p>
</header>
<div class="container text-center">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="img-fluid" alt="Logo">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <p>The Borgotsoi Logistics System is an internal tool designed for efficient management and tracking of deliveries. Explore the various features and functionalities available within our system:</p>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Deliveries</h5>
                    <p class="card-text">View and manage your deliveries.</p>
                    <a href="{{ url_for('main.deliveries') }}" class="btn btn-primary">Go To Deliveries</a>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Delivery Reports</h5>
                    <p class="card-text">View detailed reports of your deliveries.</p>
                    <a href="{{ url_for('main.report') }}" class="btn btn-primary">Go To Delivery Reports</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
